.movieDetails{
display: flex;
gap: 16px
}

.genres{
display: flex;
gap: 16px

}

.button {
    margin: 0px 10px 10px 0px;
    padding: 8px 24px 8px;
    cursor: pointer;
    font-size: 0.95em;
    font-weight: 600;
    line-height: 1;
  
    text-align: center;
  
    cursor: pointer;
    background-color: gray;
  
    border-radius: 4px;
    color: #fff;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
    transition: all 150ms ease-in-out;
  }
  
  .button:hover {
    background-color: rgba(0, 0, 0, 0.356);
    color: #fff;
    /* box-shadow: 0 0 10px 0 #527c82 inset, 0 0 10px 4px #527c82; */
  }
  
  .button:hover,
  .button:focus {
    outline: 0;
  }

  .overviewUkr{
    color: gray;
    margin-top: 8px;
    margin-bottom: 8px;
  }