.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  list-style: none;


  /* box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
  rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px; */
}

.link {
  text-decoration: none;
}

/* .main {
    padding: 10px;
  } */

/* .title {
    text-align: center;
    color: white;
  } */

/* .moviesList {
    display: grid;
    max-width: calc(100vw - 35px);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px;
    margin: 10px auto 0px;
    padding: 0px 0px 30px;
    list-style: none;
  }*/

  .moviesItem{
    width: 200px;
    height: 300px;
    /* margin: 4px; */
    border-radius: 4px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
  } 

.poster {
  height: 250px;
  width: 100%;
  object-fit: cover;
  }
  
  .poster:hover {
    transform: scale(1.03);
    cursor: pointer;
  } 

  .movieTitle {
    display: block;
    /* width: 250px; */

    padding-top: 8px; 
    /* padding-bottom: 8px;  */

    font-size: 14px;

    text-align: center;
    color: rgb(51, 51, 51);
  }
